<!DOCTYPE html>
<html>
<head>
  <title>AngelApiGem</title>
  <%= stylesheet_link_tag    "angel_api_gem/application", media: "all" %>
  <%= javascript_include_tag "angel_api_gem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
